body {
    background-color: aliceblue;
    font-family: Saira extra condensed;
    font-size: 1.5rem;
    text-rendering: optimizeSpeed;
}
#menu__toggle {
    display: none;
}
/* Side bar */
.sidebar {
    top: 0;
    left: 0;
    padding: 0;
    width: 20%;
    background-color: #97c2fa;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: center;
}
.sidebar ul {
    visibility: initial;
   padding: 0px;
}
.sidebar li { 
    list-style: none;
}
/* side bar links */
.sidebar a {
    display: block;
    color: black;
    padding: 0.8rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
}
  
  /* hover through the links */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}
a:hover {
    text-decoration: underline;
    color: tomato;
}

  /* main page content, the margin-left have to be equal to side bar width */
main.content {
    text-align:left;
    margin: 5% 10% 10% 25%;
    height: 100%;
      position: relative;
}
#art {
    position: absolute;
    opacity: 0.2;
    top: 0;
    right: 0;
    z-index: -1;
}
.section {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 6em;
    padding-left: .2em;
}

.flex-cont {
    display: flex;
    background-color: #97c2fa;
    justify-content: center;
}
.education_container {
    background-color: #97c2fa;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly

  /*   display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min 350px max 450px;
    grid-gap: 15px;
    grid-auto-columns: 1fr;
    grid-auto-flow: column; */
}
.education_container a {
    flex: 1;
    height: auto;
    text-decoration: none;
    color: inherit;
}
.education_item1,
.education_item2 {
    background-color: #fffc;
    margin: 1rem;
    padding: 20px;
    text-align: center;
    height: 80%;
    
}
.certificate {
    display: none;
    width: 100%;
    height: 100%;
}
#experience {
    position: relative;
}
#experience p {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 1rem;
    padding: 20px;
    text-align: center;
}

.animation {
    animation-duration: 2s;
    animation-name: slidein;
} 
@keyframes slidein {
    from {
      margin-left: 100%;
      /* width: 300%; */
    }
    to {
      margin-left: 0%;
    }
}

h1.heading {
    margin-bottom: 0px;
    animation: header 8s ease-in-out 1s infinite alternate none;
}
@keyframes header {
    0% {
      color: #6ca9fa;
    }
    50% 
    { color: rgb(88, 12, 12);}
    100% {
      color:rgb(38, 29, 119)
    }
}

#projects a,
#about a {
    text-decoration: none;
}
#projects ul,
#skills ul {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}
#skills li {
    width: 100px;
    height: 70px;
    text-align: center;
}
#projects li,
#skills li {
    padding: 0.5rem;
    margin: 0.5rem;
    border: 0.15rem solid rgb(80, 80, 90);
    border-radius: 0.4rem;
    color: rgb(46, 46, 53);
    background-color: white;
    font-weight: 800;
    
}
.repoDescr {
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    margin: 0;


}
#projects .item4 {
    order: -20;
} 
#projects .item5 {
    order: -10;
}   

/* a[href^="http"]:visited {
    color:rgb(74, 99, 7);
} */

fieldset {
    border-color: #f0ffff;
}

#messages ul {
    max-width: 1200px;
}

#messages li:nth-child(odd) {
    background-color: #f3fff0;
}

#messages li {
    background-color: rgb(239, 238, 245);
    margin-bottom: .6em;
    border-radius: 0.2em; 
    border-style: groove;
    list-style: auto;
    /* width: fit-content; */
}
#messages span:nth-child(1) {
    font-family: 'Dancing Script', cursive;
    font-size: larger;
}

#messages a {
    margin-left: 0.2em;
}

button[type=submit] {
    background-color: rgb(2, 163, 163);
    color: white;
    font-weight: 600;
    height: 2em;
    border-radius: 0.5em;
    width: fit-content;
    height: auto;
    padding: 0.5em 1em 0.5em 1em;
}

input[type=text],
input[type=email],
#messageFromUser {
    border: 0.4em groove rgb(178, 179, 206);
    border-radius: 5px;
    display: inline;
    font-size: .8em;
    font-style: italic;
}

textarea {
    height: 4em;
    width: 50%;
}

button.remove, 
button.edit, 
button.done  {
    height: 2em;
    border-radius: 0.5em;
}

button.remove {
    background-color: rgb(253, 66, 97);
}

button.edit {
    background-color: rgb(217, 243, 146);
}

button.done {
    background-color: rgb(248, 233, 20);
}

#imgPersonal, 
.smallPicture {
    padding: 10%;
    vertical-align: middle;
    /* display: flex; */
    inline-size: fit-content;
} 

#imgPersonal img  {
    width: 100%;
    height: 100%;
    border-radius: 50%;
} 

.smallPicture {
    display: none;
}



#connect ul {
    padding: 0px;
}

#connect li {
    display: inline-block;
    padding-left: 2em;
    justify-content: center;
    list-style: none;
}

#connect img:hover {
    margin-bottom: 1em;
    padding-top: 0px;
    cursor: pointer;
    opacity: 0.5;
}

.img-size {
    width: 2em;
    height: 2em;
    padding-top: 1em;
}

#video {
    inline-size: fit-content;
    padding-top: 10px;
    margin: auto;
    box-sizing: border-box;
       
}
.sticky {
    position: sticky;
    top: 15em;
    float: right;
} 
.topbutton {
    border:2px solid #ccc;
    background:#f0f8ff;
    text-align:center;
    padding:10px;
    cursor:pointer;
    color:#333;
    font-family:verdana;
    font-size:12px;
    border-radius: 5px; 
    opacity: 0.8;
    -moz-opacity: 0.6;
}
.topbutton:hover{
    background-color: white;
    opacity: 1;
}

footer {
      margin-left: 20%;
      padding-left: 1em;
      font-size: small;
      background-color: rgb(250, 249, 253);
}

footer p {
    text-align: center;
    margin-right: 1rem;
}

  /* when the screen size less then 1200px reduce the font-size to fit sidebar */
@media screen and (max-width: 1200px) {
    .sidebar {
        font-size: 1rem;
    }
    main.content {
        margin: 5% 3% 5% 22%;
    }
}

/* when the screen size less then 800px side bar become a top bar */
@media screen and (max-width: 801px) {
    body {
        margin: 10px;
    }
    
    .sidebar {
      width: 100%;
      height: 100%;
      position: relative;
      font-size: 1.5rem;
    }
    .sidebar ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #art {
        width: 100%;
        box-sizing: border-box;
    }
    #art img { 
        width: 100%;
    }
    main.content {
        margin-left: 5px;
        margin-right: 5px;
    }
    .education_container {
        flex-flow: column;
    }
    .flex-cont {
        flex-direction: column;
        padding: 1rem;
    }
    #connect ul {
        display: flex;
        justify-content: space-evenly;
    }
    #connect li {
        padding: 0px;
    }
    #messages ul {
        padding-left: 1rem;
    }
    #video iframe {
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;
        width: 100%;
        height: auto;
    }
    input[type=text],
    input[type=email],
    textarea {
        font-size: 0.6em;
        font-family: cursive;
        height: 3em;
        inline-size: 60%;
    }
    input[type=text]:hover {
        background-color: #ccc;
    }
    footer {
        margin: 1rem;
       
    }
    input[type=radio],
    label[for=employer],
    label[for=friend] {
        display: none;
    }
    .largePicture {
        display: none;
    }
    .smallPicture {
        display: initial;
        width: 50%;
    }
    #imgPersonal {
        margin: auto;
        padding: 0px;
    }
    #imgPersonal img {
        width: 50%;
        padding: 0px;
        margin: auto;
        justify-content: center;
    }
      
}
  
  /* when the screen size less then 480px */
@media screen and (max-width: 481px) {
   
    
    .sidebar a {
      padding: 0px;
      
    }
    .sidebar ul {
        display: block;
    }
    .section {
        margin: 0em;
        padding: 0em;
    }
    #art {
        padding: 0px;
    }
    
    #projects li {
        width: 100%;
    }
    input[type=text],
    input[type=email],
    textarea {
        height: 3em;
        width: inherit;
        inline-size: 80%;
    }
    footer {
        margin-left: 0em;
        padding-left: 0em;
    }
    #messages ul {
        margin: 0em;
        padding: 0em;
    }
    #imgPersonal {
        display: none;
    }
}

@media print {
    .section {
        min-height: auto;
    }
    .sidebar {
        width: 100%;
        height: 100%;
        position: relative;
        font-size: 1.5rem;
    }
    #imgPersonal {
        display: none;
    }
    .sidebar ul {
        display: flex;
        justify-content: center;
    }
    body {
        margin: 0px;
    }
    main.content {
        margin-left: 0;
        margin-right: 0;
    }
}