body {
    font-family: do hyeon;
    font-size: 1.5rem;
    background-color: rgb(249, 249, 253);
}

.section {
    width: 100%;
    margin-top: 2em;
    padding: 2em;
    align-content: center;
}
.heading {
    color: rgb(102, 96, 116);
    font-weight: normal;
    font-size: 1.6em;
}
.mainheading {
    font-weight: bold;
}
#skills li {
    display: inline-block;
    margin: 0.5rem;
    border: 0.15rem solid rgb(141, 141, 245);
    border-radius: 0.4rem;
    color: rgb(141, 141, 245);
}
  /* when the screen size less then 800px side bar become a top bar */
  @media screen and (max-width: 800px) {
    .section{
        padding: 0.5em;
        margin-top: 0em;

    }
  }
  
  #messages {
      display: inline-block;
      width: 50%;
      height: 300px;
      justify-content: center;
      padding: auto;
      
  }
  #form {
      box-sizing: border-box;
      display: grid;
      
  }
  
  input[type=text], 
  input[type=email], 
  input[type=radio],
  #messageFromUser { /* input elements with type="text, email, radio and id messageFromUser" attribute */
    display: grid;
    width: 24em;
    padding: 0.5em;
    margin: 0em;
    border-color: rgb(65, 46, 102);
    border-radius: 0.5em;
  
  }
  button[type=submit] {
    background-color: rgb(20, 136, 91);
    height: 2em;
    border-radius: 0.5em;
  }
 
  *, *:before, *:after {
    box-sizing: border-box;
  }
  /* На экранах размером менее 400 пикселей панель отображать вертикально, а не горизонтально */
 
    @media screen and (max-width: 800px) {
        .section {
            padding: 1em;
        }
        #imgPersonal {
            max-width: 700px;
            padding: 1em;
            width: 80%;
            width: 80%;
        }
    }
    @media screen and (max-width: 400px) {
        .section {
            padding: 0;
        }
        #imgPersonal {
            display: none;
        }
        #video {
            display: none;
        }