body {
    font-family: do hyeon;
    font-size: 1.5rem;
    background-color: rgb(249, 249, 253);
}
.section {
    margin-top: 3em;
    padding: 2em;
}
.heading {
    color: rgb(102, 96, 116);
    font-weight: normal;

}
.mainheading {
    font-weight: bold;
}
#skills li {
    display: inline-block;
    margin: 0.5rem;
    border: 0.15rem solid rgb(141, 141, 245);
    border-radius: 0.4rem;
    color: rgb(141, 141, 245);
}
  /* when the screen size less then 800px side bar become a top bar */
  @media screen and (max-width: 800px) {
    .section{
        padding: 0.5em;
    }
    
  }
  
  /* На экранах размером менее 400 пикселей панель отображать вертикально, а не горизонтально */
  @media screen and (max-width: 400px) {
    .section {
        padding: 0;
    }