body {
    background-color: rgb(249, 255, 240);
    font-family: Saira extra condensed;
    font-size: 1.5rem;
    text-rendering: optimizeSpeed;
}
#winniephoto img {
    border-radius: 10em;
}
#winnieskills ul {
    padding: 0px;
}
#winnieskills li {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 0.15rem solid rgb(80, 80, 90);
  border-radius: 0.4rem;
  color: rgb(46, 46, 53);
  background-color: white;
  font-weight: 800;
}
#winnieskills li:hover {
    background-color: wheat;
}
footer {
    margin-left: 0;
    padding-left: 1em;
    font-size: small;
    background-color: rgb(250, 249, 253);
}
footer p {
  text-align: center;
  margin-right: 1rem;
}